
.groupHeader
{
    display:none;
}

.scheduleBtn
{
    display:none;
}


.listItem {
    padding-top: 15px;
    padding-bottom: 15px;
    /* background-color: blue; */
    margin-top: 1px;
    border-bottom: 1px solid #eaeaea;
    padding-left: 40px;
    font-family: 'open sans';
    font-size:19px;
}

#messageInput {
    height: 50px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #42a986;
    /* border-bottom: 1px solid #eaeaea; */
    width: 100%;
    padding: 0px;

}

.newIcon {
    float: right;
    font-size: 13px;
    padding-right: 10%;
    color: #42a986;
    padding-top: 3px;
}

.groupName {
    background-color: white;
    padding-top: 13px;
    padding-left: 30px;
    padding-bottom: 13px;
    /* height: 40px; */
    padding-left: 20px;
    /* width: 100%; */
    margin-top: 2px;
    color: #7c7c7c;
    cursor: pointer;
    font-size: 14px;
    font-family: 'open sans';
}

@media only screen and (min-width: 750px)
{

    .listItem {
    padding-left: 60px;
    margin-left: 50px;
    width: 60%;
}


    .listItems
    {
    position: relative;
    left: 15px;
    }


.groupHeader
{
    display:block;
    padding: 15px;
    width: 290px;
    left: 50px;
    float: left;
    position: relative;
    color:#d64841;
    font-family: 'open_sanslight';
    font-weight:light;
    opacity: 0.9;
}



.scheduleBtn
{
    display:block;
    position: relative;
    margin-top: 47px;
    /* float: right; */
    left: 2%;
    border: 1px solid #d64841;
    border-radius: 14px;
    background: none;
    /* padding: 4px; */
    color: #d64841;
    font-size: 12px;
    padding-left: 14px;
    height: 27px;
    padding-right: 14px;
    cursor: pointer;
}

#messageInput {
    padding-left: 74px;
    margin-left: 50px;
    width: 50%;
}

.groupName {
    background-color: white;
    padding-top: 13px;
    padding-left: 30px;
    width: 210px;
    padding-bottom: 13px;
    float: right;
    margin-top: 2px;
    color: #7c7c7c;
    cursor: pointer;
    font-size: 12px;
    font-family: 'open sans';
}

    #createGroup {
    background-color: white;
    padding-top: 13px;
    padding-left: 30px;
    width: 210px;
    padding-bottom: 13px;
    border: none;
    float: right;
    margin-top: 2px;
    color: #7c7c7c;
    font-size: 12px;
    font-family: 'open sans';
}


}


.clearfix {
  overflow: auto;
}








@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

