


html, body
{
	margin:0px;
	padding:0px;
	outline:none;
}



.wrap{
      position: absolute;
    overflow: hidden;
    top: 5%;
    display: block;
    border-radius: 4px;
    transform: translateY(20px);
    transition: all 0.5s;
    visibility: hidden;
    width: 90%;
    height: 60vh;
    padding-bottom: 30px;
    border-radius: 9px;
    left: 15px;
    z-index: 999999999;

}


.settingName {
    padding-top: 13px;
    padding-left: 30px;
    padding-bottom: 13px;
    padding-left: 20px;
    margin-top: 2px;
    color: #c1c1c1;
    border-bottom: 1px solid #3d3d3d;
    cursor: pointer;
    font-size: 14px;
    font-family: 'open_sansregular';
}


.recipeWrap {
    position: absolute;
    overflow: hidden;
    top: 4%;
    display: block;
    border-radius: 4px;
    transform: translateY(20px);
    transition: all 0.5s;
    visibility: hidden;
    width: 90%;
    height: 66vh;
    padding-bottom: 30px;
    border-radius: 9px;
    left: 15px;
    z-index: 999999999;
}


#imageContainerMobile {
    width: 100%;
    height: 150px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    margin-top: -62px;
}


div#textContainerMobile {
    /* margin-top: 60px; */
    position: relative;
    top: 80px;
    text-align: center;
}


#pic1Mobile {
    width: 100%;
}


p.recipeInfoMobile {
    width: 80%;
    position: relative;
    margin: 0 auto;
    font-family: 'open_sansregular';
    font-size: 12px;
    padding-top: 28px;
    padding-bottom: 10px;
    line-height: 20px;
}

h3#recipeTitleMobile {
background-color: white;
    width: 80%;
    position: relative;
    margin: 0 auto;
    /* padding-top: 21px; */
    height: 32px;
    font-family: 'open_sansregular';
    line-height: 26px;
    color: #d64841;
    font-size: 15px;
    top: -10px;
    padding-top: 10px;
    border-radius: 20px;
    margin-top: -20px;
}

button#getRecipeBtnMobile {
    position: absolute;
    bottom: -80px;
    /* margin-left: 40px; */
    /* width: 130px; */
    padding-left: 11px;
    padding-right: 11px;
    right: 40px;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    /* height: 35px; */
    border-radius: 4px;
    border: none;
    background: none;
    border: 1px solid #42a986;
    color: #42a986;
    font-family: 'open_sansregular';
    text-decoration: none;
    outline: none;
    /* cursor: pointer; */
}

#undoContainer
{
    display:none;
    width:60%;
    position: absolute;
    bottom: 126px;
    left:0px;
    right:0px;
    margin-left:auto;
    font-size:13px;
    margin-right:auto;
    background-color: #42a986;
    font-family: 'open_sansregular';
    padding-top: 10px;
    opacity: 0.6;
    border-radius: 25px;
    padding-bottom: 10px;
    color: white;
    text-align: center;
}

a#linkMeMobile {
    position: absolute;
    bottom: -80px;
    /* margin-left: 40px; */
    /* width: 130px; */
    padding-left: 11px;
    padding-right: 11px;
    left: 40px;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    /* height: 35px; */
    border-radius: 4px;
    border: none;
    background: #42a986;
    color: white;
    font-family: 'open_sansregular';
    text-decoration: none;
    outline: none;
    /* cursor: pointer; */
}



.wrap .content {
  opacity: 0;
}
.wrap:before {
  position: absolute;
  width: 1px;
  height: 1px;
  background: white;
  content: "";
  bottom: 10px;
  left: 50%;
  top: 95%;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrap.active2 {
  display: block;
  visibility: visible;
  box-shadow: 2px 3px 16px silver;
  transition: all 600ms;
  transform: translateY(0px);
  transition: all 0.5s;
}
.wrap.active2:before {
  height: 2000px;
  width: 2000px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -1000px;
  margin-top: -1000px;
  display: block;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.wrap.active2 .content {
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}


.recipeWrap .content {
  opacity: 0;
}
.recipeWrap:before {
  position: absolute;
  width: 1px;
  height: 1px;
  background: white;
  content: "";
  bottom: 10px;
  left: 50%;
  top: 95%;
  color: #fff;
  border-radius: 50%;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.recipeWrap.active2 {
  display: block;
  visibility: visible;
  box-shadow: 2px 3px 16px silver;
  transition: all 600ms;
  transform: translateY(0px);
  transition: all 0.5s;
}
.recipeWrap.active2:before {
  height: 2000px;
  width: 2000px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin-left: -1000px;
  margin-top: -1000px;
  display: block;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.recipeWrap.active2 .content {
  position: relative;
  z-index: 1;
  opacity: 1;
  transition: all 600ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}


#profileTab{

  outline: none;
  display: block;


}


.content {
    height: 100%;
    margin-top: 62px;
}














#lightsOut {
    width: 100%;
    height: 83vh;
    background-color: black;
    position: absolute;
    z-index: 9999;
    top: 60px;
    opacity: 0.4;
}

.editProfileBtn {
    position: absolute;
    width: 120px;
    /* height: 30px; */
    bottom: 60px;
    margin-left: auto;
    padding-top: 5px;
    font-size: 12px;
    padding-bottom: 5px;
    margin-right: auto;
    font-family: 'open_sansregular';
    left: 0px;
    color: #d64841;
    right: 0px;
    border: 1px solid #d64841;
    text-align: center;
    border-radius: 15px;
}

#avatar {
    width: 100px;
    height: 100px;
    border: 5px solid #42a986;
    position: relative;
    font-family: 'open_sansregular';
    background-size: 100%;
    margin: 0 auto;
    font-size: 55px;
    line-height: 100px;
    margin-top: 0px;
    color: #42a986;
    text-align: center;
    background-color: white;
    border-radius: 60px;
}


.displayName-profile {
    font-family: 'open_sansregular';
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}
.profilePanel {
    display: none;
    background-color: white;
    width: 90%;
    position: absolute;
    top: 60px;
    height: 45vh;
    padding-bottom: 30px;
    margin-top: 0px;
    border-radius: 9px;
    left: 15px;
    z-index: 999999999;
}

p.profilePanelInfo {
    text-align: center;
    margin-top: 5px;
    font-family: 'open_sansregular';
    color: #d64841;
}


.emailAddress-profile {
    text-align: center;
    font-family: 'open_sansregular';
    margin-top: 20px;
    font-size: 11px;
    margin-top: 25px;
}


#settingsTab {
    display: block;
    width: 100%;
    height: 100vh;
    background-color: red;
    float: left;
    position: absolute;
    left: 100%;
}


header
{
	width:100%;
	height:60px;
	background-color:#42a986;
}



			.headerContainer
			{
				width:100%;
				max-width:1340px;
				height:60px;
				position:relative;
				margin:0 auto;
			}

			.pageTitle
			{
			    width: 200px;
			    text-align: center;
			    padding-top: 16px;
			    padding-bottom: 8px;
			    color: white;
			    font-size: 19px;
			    font-family: 'open_sansregular';
			    left: 0px;
			    right: 0px;
			    margin-left: auto;
			    margin-right: auto;
			}



			.userContainer
			{
				display:none;
				float:left;
			}

			.notificationIcon
			{
				    width: 20px;
				    height: 20px;
				    position: absolute;
				    left: 20px;
				    top: 20px;
				    background-image: url(../img/groupIcon.png);
				    background-size: 100%;
			}

					.notificationIconDesktop
					{
						display:none;
					}

			.settingsIcon
			{
				    width: 20px;
				    height: 20px;
				    position: absolute;
				    right: 20px;
				    top: 20px;
				    background-image: url(../img/settingsIcon.png);
				    background-size: 100%;
			}

			.logoutBtn
			{
				display:none;
				color:white;
			}



.scheduleBtn.urgentBtn
{
    display: block;
    position: fixed;
    font-size: 9px;
    height: 39px;
    opacity: 0.8;
    outline: none;
    color: rgb(214, 72, 65);
    border-radius: 50px;
    background-color: white;
    bottom: 72px;
    right: 20px;
    border: 1px solid rgb(214, 72, 65);
}






.groupContainer
{
	width:100%;
	float:left;
	top: 50px;
    position: absolute;
}

	div#groupList
	{
		width:100%;
	}



.listContainer
{
	width:100%;
	min-height:100vh;
	position:absolute;
	float:left;
	overflow: hidden;
}


div#groupList
{
	float:right;
}

#mobileMenu
{
	display:block;
}

#desktopMenu
{
	display:none;
}

#groupListDesktop
{
	display:none;
}

#notificationPanel
{
	display:none;
}

	#notificationPanelTabIcon
	{
		display:none;
	}

	#createGroup {
    padding-top: 8px;
    padding-left: 30px;
    padding-bottom: 8px;
    padding-left: 20px;
    margin-top: 2px;
    margin-left: 6px;
    margin-top: 15px;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    width: 189px;
    font-family: 'open_sansregular';
    outline:none;
}

.notificationAlert {
    padding: 20px;
    border-bottom: 1px solid #dbdbdb;
    font-family: 'open_sansregular';
    font-size: 13px;
    padding-left: 20px;
    font-weight: bold;
    color: #7c7c7c;
}

.usersInGroup
{
	display:none;
}



#mobileNav
{
	display:block;
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    border-top:1px solid #dad9d9;
    position: fixed;
    bottom: 0px;
    z-index: 999999999;
}


			.mobileTab {
			    float: left;
			    width: 25%;
			    height: 100%;
			    text-align: center;
			}

			.mobileNavIcon {
			    width: 22px;
			    height: 22px;
			    position: relative;
			    margin-top: 5px;
			    background-size:100%;
			    top: 7px;
			    margin: 0 auto;
			}

			.mobileNavLabel {
			    margin-top: 3px;
			    font-size: 11px;
			    color: #b6b6b6;
			    font-family: 'open_sansregular';
			}

#leaveGroup, #addUser
{
	display:none;
}
.dayOfWeek
{
    width: 90%;
    background-color: white;
    margin-right: 20px;
    min-height: 120px;
    position: relative;
    right: 5px;
    margin-top: 10px;
    /* padding: 0px; */
}

.mealPlanningPanel
{
    display: none;
    position: absolute;
    padding-left: 20px;
    top: 0px;
    padding-top: 20px;
    width: 100%;
    background-color: #e7e7e7;
}

#mealPlanner
{
display:none;
}


h1.dayOfWeekTitle {
    padding-left: 15px;
    padding-top: 10px;
    font-size: 16px;
}

#lightsOut, .lightbox
{
	display:none;
}

.textMeal {
    position: absolute;
    bottom: 0px;
}


.addMealBtn {
    position: absolute;
    bottom: 0px;
    /* float: right; */
    right: 40px;
}

.lightbox2
{
    display:none;
}


#addUserPanel
{
    width:100%;
    display:none;
    min-height:600px;
    background-color:red;
    position: absolute;
    top:0px;
}

@media only screen and (min-width: 750px)
{



    .settingName, #addUserPanel
    {
        display:none;
    }

    #colourContainer {
    width: 206px;
    height: 31px;
    /* background-color: red; */
    position: relative;
    margin: 0 auto;
    top: 30px;
}


    #getLink {
    text-align: right;
    padding-right: 25px;
    /* padding-bottom: 10px; */
    font-family: 'open_sansregular';
    /* margin-bottom: 30px; */
    color: #d64841;
    width: 94px;
    /* background-color: red; */
    position: absolute;
    right: 0px;
    bottom: 10px;
    cursor: pointer;
}

.colourPicker {
    width: 30px;
    height: 30px;
    background-color: blue;
    float: left;
    margin-left: 10px;
    border-radius: 30px;
}

.colourRed
{
    background-color:red;
}

.colourBlue
{
    background-color:blue;
}

.colourPink
{
    background-color:pink;
}

.colourPurple
{
    background-color:purple;
}

.colourGreen
{
    background-color:green;
}

#getLink:hover
{
    opacity:0.7;
}

.getLinkContainer {
    display:none;
    width: 90%;
    position: relative;
    margin: 0 auto;
    font-family: 'open_sansregular';
    text-align: center;
    height: 160px;
}

#linkBox {
    width: 660px;
    height: 36px;
    background-color: #42a986;
    position: relative;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 12px;
    line-height: 36px;
    color: white;
    text-align: center;
    border:none;
}


#getEmail {
    text-align: right;
    display:none;
    padding-right: 25px;
    /* padding-bottom: 10px; */
    font-family: 'open_sansregular';
    /* margin-bottom: 30px; */
    color: #d64841;
    width: 100px;
    /* background-color: red; */
    position: absolute;
    right: 0px;
    bottom: 10px;
    cursor: pointer;
}

#getEmail:hover
{
    opacity:0.7;
}




#undoContainer {
    display: none;
    width: 50%;
    position: absolute;
    bottom: 87px;
    left: 50px;
    right: 0;
    margin-left: 0;
    margin-right: 0;
}



                #giveMeRecipe {
                  display: block;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    bottom: 90px;
                    right: 170px;
                    background-image: url(../img/pageRecipeIcon.png);
                    background-repeat: no-repeat;
                    background-position: 12px;
                    opacity: 0.6;
                    border-radius: 30px;
                    padding: 12px;
                    border: 1px solid #4b4b4b;
                }


                #previousRecipe
                {
                display: none;
                position: absolute;
                bottom: 10px;
                height: 30px;
                font-family: 'open_sansregular';
                outline: none;
                color: #d64841;
                left: 10px;
                border-radius: 9px;
                width: 90px;
                background-color: white;
                border: none;
                }

.lightbox2 {
    display: none;
    width: 60%;
    left: 0px;
    position: absolute;
    min-height:480px;
    background-color: white;
    border-radius: 10px;
    right: 0px;
    margin-left: auto;
    z-index: 99999999999999999999999;
    margin-right: auto;
    margin-top: 110px;
}

.lightbox2 h3 {
    padding: 15px;
    /* text-align: center; */
    font-family: 'open_sansregular';
    color: #d64841;
    /* font-size: 25px; */
    margin-top: 40px;
    padding-left: 40px;
}

div#imageContainer {
    width: 40%;
    height: 480px;
    float: left;
    overflow:hidden;
}

.recipeInfo {
    height: 200px;
    padding-left: 39px;
    font-family: 'open_sansregular';
    font-size: 15px;
    color: #7c7c7c;
    line-height: 25px;
}

div#textContainer {
    width: 50%;
    float: left;
    height: 480px;
}

img#pic1 {
    position: relative;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 100%;
    opacity: 0.9;
}

#closeRecipebox {
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: white;
    border: none;
    font-size: 17px;
    outline: none;
    opacity: 0.4;
    cursor: pointer;
}



        #linkMe {
position: absolute;
    bottom: 50px;
    margin-left: 40px;
    /* width: 130px; */
    padding-left: 30px;
    padding-right: 30px;
    font-size:14px;
    padding-top: 8px;
    padding-bottom: 8px;
    /* height: 35px; */
    border-radius: 4px;
    border: none;
    background: #42a986;
    color: white;
    font-family: 'open_sansregular';
    text-decoration:none;
    outline:none;
    cursor: pointer;
}

#linkMe:hover
{
    opacity:0.7;
}


.recipeIcon2 {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 10px;
    margin-left: -5px;
}


button#getRecipeBtn {
    bottom: 50px;
    position: absolute;
    margin-left: 220px;
    border-radius: 4px;
    border: 1px solid #42a986;
    background: none;
    color: #42a986;
    outline:none;
    padding-left: 30px;
    padding-right: 30px;
    font-size:14px;
    padding-top: 7px;
    line-height: 22px;
    padding-bottom: 6px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'open_sansregular';
}
button#getRecipeBtn:hover
{
opacity:0.7;
}


    .wrap
    {
    position: absolute;
    overflow: hidden;
    top: 5%;
    display: block;
    border-radius: 4px;
    transform: translateY(20px);
    transition: all 0.5s;
    visibility: hidden;
    width: 50%;
    height: 55vh;
    padding-bottom: 30px;
    border-radius: 9px;
    /* left: 115px; */
    left: 0px;
    z-index: 9999999999;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}

.recipeWrap
{
    position: absolute;
    overflow: hidden;
    top: 2%;
    display: block;
    border-radius: 4px;
    transform: translateY(20px);
    transition: all 0.5s;
    visibility: hidden;
    width: 90%;
    height: 70vh;
    padding-bottom: 30px;
    border-radius: 9px;
    left: 15px;
    z-index: 999999999;
}

    .profilePanel
    {
        width:280px;
        margin-left:20px;
        border: 1px solid #c4c0c0;
        border-top:none;
        height:350px;
    }

    #closeLightbox
    {
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: white;
    border: none;
    font-size: 17px;
    outline: none;
    opacity: 0.4;
    cursor: pointer;
    }

    #closeLightbox:hover
    {
        opacity:0.7;
    }


.lightbox h3 {
    padding: 15px;
    text-align: center;
    font-family: 'open_sansregular';
    color:#d64841;
}


	#addUserTextBox {
	width: 270px;
    height: 28px;
    border-radius: 16px;
    padding-left: 10px;
    outline: none;
    position: relative;
    color: #7c7c7c;
    opacity:0.7;
    border: 1px solid;
    font-family: 'open_sansregular';
    top: 9px;
    border-color: #7c7c7c;
}

.textDesc {
    opacity: 0.8;
    line-height:26px;
}


button#addUserBtn2 {
    top: 20px;
    display: block;
    position: relative;
    border-radius: 14px;
    font-family: 'open_sansregular';
    color: white;
    font-size: 12px;
    padding-left: 27px;
    height: 29px;
    border: none;
    padding-right: 27px;
    background-color: #42a986;
    cursor: pointer;
    outline: none;
    margin: 0 auto;
}

.addUserContainer {
    width: 90%;
    position: relative;
    margin: 0 auto;
    font-family: 'open_sansregular';
    text-align: center;
    height: 160px;
}

	#lightsOut {
	display:none;
    width: 100%;
    background-color: black;
    height: 100vh;
    position: absolute;
    top: 60px;
    opacity: 0.2;
    left: 0px;
    z-index: 9999999999999999;
}

.lightbox {
	display: none;
    width: 50%;
    height: 280px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 5px;
    z-index: 99999999999999999999;
    top: 200px;
}

.mealPlanningPanel {
	display:none;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0px;
    margin-left: 20px;
    padding-bottom:30px;
    margin-top: 0px;
    z-index: 9999999999999;
}




	#mealPlanner {
    display: block;
    width: 100px;
    color: #42a986;
    text-align: center;
    /* height: 30px; */
    /* background-color: red; */
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid white;
    border-radius: 4px;
    float: right;
    background-color: white;
    font-size: 13px;
    position: relative;
    font-family: 'open_sansregular';
    margin-top: -32px;
    left: 70px;
    cursor: pointer;
}

#mondayInput, #tuesdayInput, #wednesdayInput, #thursdayInput, #fridayInput, #saturdayInput, #sundayInput {
    float: left;
    margin-left: 20px;
    display: none;
    height: 22px;
    background-color: #a6bfb6;
    padding-left: 10px;
    border: none;
    top: 29px;
    position: relative;
    bottom: 10px;
}


#mondayBtn, #tuesdayBtn, #wednesdayBtn, #thursdayBtn, #fridayBtn, #saturdayBtn, #sundayBtn {
    float: left;
    margin-top: 32px;
    height: 20px;
    display: none;
}

.dayOfWeek
{
	position: relative;
    left: 10px;
    font-family: 'open_sansregular';
    color: #7b7a7a;
    font-size: 11px;
    background-color: white;
    margin-top: 20px;
    /* opacity: 0.6; */
    border-radius: 4px;
    width: 30%;
    padding-left: 12px;
    margin-left: 10px;
    height: 200px;
    float: left;
}

			.dayOfWeekTitle
			{
				padding-left: 17px;
			    font-size: 20px;
			    /* border-bottom: 1px solid; */
			    padding-top: 5px;
			}

.mealItem 
{
	margin-top: 1px;
    padding: 5px;
    padding-bottom: 7px;
    padding-left: 24px;
    font-size: 16px;
    font-family: 'open_sansregular';
    color: #42a986;
}


.addMealBtn {
    width: 110px;
    background-color: white;
    border: 1px solid #d64841;
    padding: 5px;
    color: #d64841;
    border-radius: 15px;
    /* opacity: 0.7; */
}



	#leaveGroup 
{
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 90px;
    right: 50px;
    background-image: url(../img/binIcon.png);
    background-repeat: no-repeat;
    background-position: 12px;
    opacity: 0.6;
    border-radius: 30px;
    padding: 12px;
    border: 1px solid #4b4b4b;
}

			#leaveGroup:hover
			{
				border:2px solid #4b4b4b;
			}


				#addUser 
				{
				    display: block;
				    width: 20px;
				    height: 20px;
				    position: absolute;
				    bottom: 90px;
				    right: 110px;
				    background-image: url(../img/addUserIcon.png);
				    background-repeat: no-repeat;
				    background-position: 12px;
				    opacity: 0.6;
				    border-radius: 30px;
				    padding: 12px;
				    border: 1px solid #4b4b4b;
				}


	#mobileNav
	{
		display:none;
	}

	#settingsTab
	{
		display:none;
	}



		.scheduleBtn.urgentBtn {
		    margin-top: -27px;
		    left: 150px;
		    outline:none;

	display: block;
    position: relative;

    /* float: right; */

    border: 1px solid #d64841;
    border-radius: 14px;
    background: none;
    /* padding: 4px; */
    color: #d64841;
    font-size: 12px;
    padding-left: 14px;
    height: 27px;
    padding-right: 14px;
    cursor: pointer;
    bottom:0;
    right:0;
    opacity:1.0;

		}


	.usersInGroup {
    display: block;
    background-color: white;
    padding-top: 23px;
    padding-left: 30px;
    width: 210px;
    border: none;
    padding-bottom: 13px;
    float: right;
    border-radius: 0px;
    margin-top: 2px;
    outline: none;
    color: #7c7c7c;
    font-size: 12px;
}

	.userInGroupIcon {
    width: 100%;
    height: 36px;
    margin-top: 0px;
    font-size: 11px;
    padding-right: 30px;
    font-family: 'open_sansregular';
}

		.userOffline {
		    width: 6px;
		    height: 6px;
		    float: left;
		    background-color: #42a986;
		    position: relative;
		    top: 5px;
		    border-radius: 52px;
		    margin-right: 8px;
		}


            .toggleNotificstions {
                    width: 23px;
                    height: 23px;
                    border: 1px solid #d64841;
                    float: right;
                    margin-right: 40px;
                    margin-top: -3px;
                    color: #d64841;
                    line-height: 22px;
                    text-align: center;
                    opacity: 0.7;
                    border-radius: 15px;
            }

	#createGroup
	{
		display:none;
	}

	#createGroupDesktop
	{
    background-color: white;
    padding-top: 13px;
    padding-left: 30px;
    width: 210px;
    border: none;
    padding-bottom: 13px;
    float: right;
    border-radius: 0px;
    margin-top: 2px;
    outline: none;
    color: #7c7c7c;
    font-size: 12px;

	}


	#notificationPanel
	{
	display: none;
    width: 240px;
    min-height: 150px;
    position: absolute;
    background-color: white;
    z-index: 9999;
    top: 60px;
    border: 1px solid #dbdbdb;
    /* margin-right: 10px; */
    /* box-shadow: 0px 0px 9px -3px; */
    border-top: none;
	}

	#notificationPanelTabIcon
	{
		display:none;
    transform: rotate(45deg);
    background-color: white;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 58px;
    margin-left: 45px;
	}

        #notificationPanelTabIcon2
    {
    transform: rotate(45deg);
    background-color: white;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 30px;
    height: 30px;
    position: absolute;
    top: -2px;
    margin-left: 45px;
    }

	.notificationCountIcon {
    background-color: #d64841;
    position: relative;
    top: -4px;
    left: 8px;
    color: white;
    border-radius: 100%;
    text-align: center;
    font-size: 10px;
    font-family: 'open_sansregular';
    width: 13px;
}


#mobileMenu
{
	display:none;
}

#desktopMenu
{
	display:block;
}

 #groupListDesktop
  {
  	display:block;
 	width: 241px;
    float: right;
  }

	.pageTitle
	{
		left:20%;
		padding-top: 18px;
		right: 0;
		margin-left:0;
		margin-right:0;
		float:left;
		font-size: 22px;
		letter-spacing: 3.4px;
		font-family: 'stellarregular';
	}


			.userContainer
			{
				display:block;
			    float: left;
			    margin-left: 10%;
			    height: 25px;
			    width: 210px;
			    margin-top: 18px;
			}

					.userIcon
					{
						width:25px;
						height:25px;
						float:left;
						background-image: url(../img/userIcon.png);
					}

					.userTitle
					{
						    float: left;
						    height: 30px;
						    line-height: 27px;
						    font-size: 13px;
						    padding-left: 5px;
                            min-width:100px;
						    color: white;
						    letter-spacing: 0.6px;
   							font-family: 'open_sansregular';
					}

			.notificationIcon
			{
				display:none;
				background-image: url(../img/bellIcon.png);
			}

			.notificationIconDesktop
			{
				    display: block;
				    width: 20px;
				    height: 20px;
				    float: left;
				    cursor: pointer;
				    margin-left: 50px;
				    margin-top: 20px;
				    background-image: url(../img/bellIcon.png);
				    background-size: 100%;
			}

			.active
			{
				display:block !important;
			}



			.settingsIcon
			{

			    float: left;
			    margin-left: 10px;
			    margin-top: 20px;
			    right: 160px;
			    top: 0;
			}

			.logoutBtn
			{
				    display: block;
				    width: 100px;
				    text-align: center;
				    /* height: 30px; */
				    /* background-color: red; */
				    padding-top: 4px;
				    padding-bottom: 4px;
				    border: 1px solid white;
				    border-radius: 4px;
				    float: right;
				    font-size: 13px;
			    	font-family: 'open_sansregular';
				    margin-top: 16px;
				    cursor: pointer;
			}	

			.rightContainer {
				    width: 270px;
				    height: 50px;
				    float: right;
				}



.groupContainer
{
	display:block;
	width:30%;
	height: calc(100vh - 60px);
	background-color:#f0f0f0;
	position: relative;
	top:0;
}

.listContainer
{
	display:block;
	width:70%;
	right:0px;
/*	height: calc(100vh - 60px);  */
	border-right: 10px solid #42a986;
	overflow:visible;
}

h1.groupContainerTitle {
    text-align: right;
    padding-right: 150px;
    font-size: 12px;
    margin-top: 70px;
    font-family: 'open_sansregular';
    color: #7c7c7c;
}

.createGroupContainer {
    height: 50px;
    width: 100%;
    float: left;
    position: relative;
}

}


@media only screen and (min-width: 900px)
{
.headerContainer
{
	width:80%;
}


}


@media only screen and (min-width: 1300px)
{
.mealPlanningPanel
{
	width:70%;
}



.lightbox2 {

width:50%;
    }


}












@font-face {
    font-family: 'stellarbold';
    src: url('../fonts/stellar-bold-webfont.eot');
    src: url('../fonts/stellar-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stellar-bold-webfont.woff2') format('woff2'),
         url('../fonts/stellar-bold-webfont.woff') format('woff'),
         url('../fonts/stellar-bold-webfont.ttf') format('truetype'),
         url('../fonts/stellar-bold-webfont.svg#stellarbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'stellarlight';
    src: url('../fonts/stellar-light-webfont.eot');
    src: url('../fonts/stellar-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stellar-light-webfont.woff2') format('woff2'),
         url('../fonts/stellar-light-webfont.woff') format('woff'),
         url('../fonts/stellar-light-webfont.ttf') format('truetype'),
         url('../fonts/stellar-light-webfont.svg#stellarlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'stellarmedium';
    src: url('../fonts/stellar-medium-webfont.eot');
    src: url('../fonts/stellar-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stellar-medium-webfont.woff2') format('woff2'),
         url('../fonts/stellar-medium-webfont.woff') format('woff'),
         url('../fonts/stellar-medium-webfont.ttf') format('truetype'),
         url('../fonts/stellar-medium-webfont.svg#stellarmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'stellarregular';
    src: url('../fonts/stellar-regular-webfont.eot');
    src: url('../fonts/stellar-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stellar-regular-webfont.woff2') format('woff2'),
         url('../fonts/stellar-regular-webfont.woff') format('woff'),
         url('../fonts/stellar-regular-webfont.ttf') format('truetype'),
         url('../fonts/stellar-regular-webfont.svg#stellarregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
