


html, body
{
	margin:0px;
	padding:0px;
	outline:none;
}


header
{
	width:100%;
	height:60px;
	background-color:#42a986;
}



			.headerContainer
			{
				width:100%;
				max-width:1340px;
				height:60px;
				position:relative;
				margin:0 auto;
			}

			.pageTitle
			{
				width: 200px;
				    text-align: center;
				    padding-top: 16px;
				    padding-bottom: 8px;
				    color: white;
				    font-size: 23px;
				    letter-spacing: 3.4px;
				    font-family: 'stellarregular';
				    left: 0px;
				    right: 0px;
				    margin-left: auto;
				    margin-right: auto;
			}

			.userContainer
			{
				display:none;
				float:left;
			}

			.notificationIcon
			{
				    width: 20px;
				    height: 20px;
				    position: absolute;
				    left: 20px;
				    top: 20px;
				    background-image: url(../img/groupIcon.png);
				    background-size: 100%;
			}

					.notificationIconDesktop
					{
						display:none;
					}

			.settingsIcon
			{
				    width: 20px;
				    height: 20px;
				    position: absolute;
				    right: 20px;
				    top: 20px;
				    background-image: url(../img/settingsIcon.png);
				    background-size: 100%;
			}

			.logoutBtn
			{
				display:none;
				color:white;
			}




.groupContainer
{
	width:100%;
	float:left;
	top: 0px;
    position: absolute;
}

	div#groupList
	{
		width:100%;
	}



.listContainer
{
	width:100%;
	height:100vh;
	position:absolute;
	float:left;
}


div#groupList
{
	float:right;
}

#mobileMenu
{
	display:block;
}

#desktopMenu
{
	display:none;
}

#groupListDesktop
{
	display:none;
}

#notificationPanel
{
	display:none;
}

	#notificationPanelTabIcon
	{
		display:none;
	}

	#createGroup {
    padding-top: 8px;
    padding-left: 30px;
    padding-bottom: 8px;
    padding-left: 20px;
    margin-top: 2px;
    margin-left: 6px;
    margin-top: 15px;
    border-radius: 22px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    width: 189px;
    font-family: 'open_sansregular';
    outline:none;
}

.notificationAlert {
    padding: 20px;
    border-bottom: 1px solid #dbdbdb;
    font-family: 'open_sansregular';
    font-size: 13px;
    padding-left: 20px;
    font-weight: bold;
    color: #7c7c7c;
}

@media only screen and (min-width: 750px)
{

	#createGroup
	{
	background-color: white;
    padding-top: 13px;
    padding-left: 30px;
    width: 210px;
    border: none;
    padding-bottom: 13px;
    float: right;
    border-radius:0px;
    color: #7c7c7c;
    font-size: 12px;

	}


	#notificationPanel
	{
	display: none;
    width: 240px;
    min-height: 150px;
    position: absolute;
    background-color: white;
    z-index: 9999;
    top: 60px;
    border: 1px solid #dbdbdb;
    /* margin-right: 10px; */
    /* box-shadow: 0px 0px 9px -3px; */
    border-top: none;
	}

	#notificationPanelTabIcon
	{
		display:none;
    transform: rotate(45deg);
    background-color: white;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 30px;
    height: 30px;
    position: absolute;
    top: 58px;
    margin-left: 45px;
	}

	.notificationCountIcon {
    background-color: #d64841;
    position: relative;
    top: -4px;
    left: 8px;
    color: white;
    border-radius: 100%;
    text-align: center;
    font-size: 10px;
    font-family: 'open_sansregular';
    width: 13px;
}


#mobileMenu
{
	display:none;
}

#desktopMenu
{
	display:block;
}

 #groupListDesktop
  {
  	display:block;
 	width: 241px;
    float: right;
  }

	.pageTitle
	{
		left:20%;
		padding-top: 18px;
		right: 0;
		margin-left:0;
		margin-right:0;
		float:left;
		font-size: 22px;
	}


			.userContainer
			{
				display:block;
			    float: left;
			    margin-left: 10%;
			    height: 25px;
			    width: 210px;
			    margin-top: 18px;
			}

					.userIcon
					{
						width:25px;
						height:25px;
						float:left;
						background-image: url(../img/userIcon.png);
					}

					.userTitle
					{
						    float: left;
						    height: 30px;
						    line-height: 27px;
						    font-size: 13px;
						    padding-left: 5px;
						    color: white;
						    letter-spacing: 0.6px;
   							font-family: 'open_sansregular';
					}

			.notificationIcon
			{
				display:none;
				background-image: url(../img/bellIcon.png);
			}

			.notificationIconDesktop
			{
				    display: block;
				    width: 20px;
				    height: 20px;
				    float: left;
				    cursor: pointer;
				    margin-left: 50px;
				    margin-top: 20px;
				    background-image: url(../img/bellIcon.png);
				    background-size: 100%;
			}

			.active
			{
				display:block !important;
			}



			.settingsIcon
			{

			    float: left;
			    margin-left: 10px;
			    margin-top: 20px;
			    right: 160px;
			    top: 0;
			}

			.logoutBtn
			{
				    display: block;
				    width: 100px;
				    text-align: center;
				    /* height: 30px; */
				    /* background-color: red; */
				    padding-top: 4px;
				    padding-bottom: 4px;
				    border: 1px solid white;
				    border-radius: 4px;
				    float: right;
				    font-size: 13px;
			    	font-family: 'open_sansregular';
				    margin-top: 16px;
				    cursor: pointer;
			}	

			.rightContainer {
				    width: 270px;
				    height: 50px;
				    float: right;
				}



.groupContainer
{
	display:block;
	width:30%;
	height: calc(100vh - 60px);
	background-color:#dfe2df;
	position: relative;
	top:0;
}

.listContainer
{
	display:block;
	width:70%;
	right:0px;
	height: calc(100vh - 60px);
	border-right: 10px solid #42a986;
}

h1.groupContainerTitle {
    text-align: right;
    padding-right: 150px;
    font-size: 12px;
    margin-top: 70px;
    font-family: 'open_sansregular';
    color: #7c7c7c;
}

.createGroupContainer {
    height: 50px;
    width: 100%;
    float: left;
    position: relative;
}

}


@media only screen and (min-width: 900px)
{
.headerContainer
{
	width:80%;
}

}












@font-face {
    font-family: 'stellarbold';
    src: url('../fonts/stellar-bold-webfont.eot');
    src: url('../fonts/stellar-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stellar-bold-webfont.woff2') format('woff2'),
         url('../fonts/stellar-bold-webfont.woff') format('woff'),
         url('../fonts/stellar-bold-webfont.ttf') format('truetype'),
         url('../fonts/stellar-bold-webfont.svg#stellarbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'stellarlight';
    src: url('../fonts/stellar-light-webfont.eot');
    src: url('../fonts/stellar-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stellar-light-webfont.woff2') format('woff2'),
         url('../fonts/stellar-light-webfont.woff') format('woff'),
         url('../fonts/stellar-light-webfont.ttf') format('truetype'),
         url('../fonts/stellar-light-webfont.svg#stellarlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'stellarmedium';
    src: url('../fonts/stellar-medium-webfont.eot');
    src: url('../fonts/stellar-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stellar-medium-webfont.woff2') format('woff2'),
         url('../fonts/stellar-medium-webfont.woff') format('woff'),
         url('../fonts/stellar-medium-webfont.ttf') format('truetype'),
         url('../fonts/stellar-medium-webfont.svg#stellarmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'stellarregular';
    src: url('../fonts/stellar-regular-webfont.eot');
    src: url('../fonts/stellar-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stellar-regular-webfont.woff2') format('woff2'),
         url('../fonts/stellar-regular-webfont.woff') format('woff'),
         url('../fonts/stellar-regular-webfont.ttf') format('truetype'),
         url('../fonts/stellar-regular-webfont.svg#stellarregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
